.switch {
    display: flex;
    position: relative;
    margin: 11px 20px 6px auto;
}

.switch__box {
    border-radius: 25px;
    border: 2px solid rgba(126, 126, 126, 1);
    width: 56px;
    height: 28px;
    appearance: none;
    cursor: pointer;
}

.switch__box:hover {
    border: 2px solid black;
}

.switch__slider { 
    border-radius: 20px;
    width: 28px;
    height: 28px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.switch__slider-F {
    left: 0px;
}

.switch__slider-C {
    left: 29px;
}

.switch__active {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.36px'
}

.switch__temp-F {
    position: absolute;
    top: 6px;
    left: 9px;
    margin: 0;
    cursor: pointer;
    
}

.switch__temp-C {
    position: absolute;
    top: 6px;
    left: 38px;
    margin: 0;
    cursor: pointer;
    
}   