.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__container {
  display: flex;
  align-items: center;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin: 0 16px 0 0;
}

.sidebar__username {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  margin: 0;
  text-wrap: nowrap;
}

.sidebar__change-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  border: none;
  margin-top: 24px;
  cursor: pointer;
  background: transparent;
}

.sidebar__logout {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  background: transparent;
}
