.modal__label:last-of-type {
  margin: 0 0 6px 0;
  padding: 0;
}

.login-modal__button {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: absolute;
  bottom: 36px;
  left: 135px;
  cursor: pointer;
  padding: 0;
  border: none;
}

.register-btn {
  width: 86px;
  margin: 0;
}